body{
  padding: 25px;
}
.title {
	color: #00ffff;
	width: 200px;
  height: 50px;
	position: relative;
	animation: moveElement 5s linear infinite alternate;
}

@keyframes moveElement {
  0% {
    left: 0; 
  }
  100% {
    left: 350px; 
  }
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: ;: center;
  
}

.linha{
  display: flex;
  align-items: center;
}
